.Products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px;
}

.Product {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 2px;
  text-align: center;
}

@media (min-width: 640px) {
  .Product {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .Product {
    width: 33.33%;
  }
}
